.ant-table-wrapper {
    margin-bottom:80px;

}

.ant-btn, .ant-btn-primary{
    display:flex; 
    
}

.ant-form-item-label {
    display: inline-block;
    margin: 15px 15px 15px 0px;
    width: 80px;
}

.ant-form,
.ant-form-horizontal {
    float: left;
    height: 825px;
    background-color: white;
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding-right: 30px;
}

/* #AddExpenseTitle {
    margin: 0 auto;
    margin-top: 10px;
} */
.expenseForm label {
    margin: 10px
}

.ant-picker-header {
    color: black
}

.ant-picker-header-super-prev-btn {
    color: black
}

.ant-picker-date-panel span {
    color: black
}

.ant-picker-prev-icon {
    color: black;
}

.ant-row,
.ant-form-item {
    margin: 20px;
    padding-right: 10px;
    width: 100%;
    display: flex;
    align-self: center;
    align-content: center ; 
}


.ant-input-number,
.input {
    width: 100%;
}

.ant-pagination-item-link>* {
    color: black;
}

.ant-table-row-expand-icon {
    background-color: #bfbfbf !important;
}

.ant-picker-input {
    height: 30px;
}

.ant-btn-icon-only > .anticon{
    display: inline;
    margin-top: 3px;
}
.table-expenses{
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 10px;
    height: 940px;
    background-color: white;

}
.expenseForm{
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 10px;
    height: 940px;
    background-color: white;
    
}



