.ant-table-row-expand-icon{
    background-color: #bfbfbf !important;
}
.title{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
}
.deleteButton{
    background-color: #ff7875 !important;
    width: auto;
    height: auto;
}
.ant-table-wrapper{
    width: 100%;
}

